.hiring-process-container .main-banner {
    @apply h-screen;
    @apply w-screen;
    @apply bg-center;
    @apply bg-cover;
    @apply p-6 md:p-16 lg:p-32;
}

.hiring-process-content__form {
    @apply w-full md:w-full lg:w-3/4;
    @apply md:h-1/2 lg:h-auto xl:h-1/2;

    @apply xl:flex;
    @apply xl:flex-col;
    @apply xl:items-stretch;
    @apply xl:justify-around;

}

.form-step {
    @apply flex;
    @apply flex-col;
    gap: 0.5rem;
}

.submit-container {
    @apply flex;
    @apply items-end;
    @apply justify-end;
    @apply mt-6;
}

.hiring-process-content__image {
    @apply w-full md:w-full lg:w-1/2;
    @apply flex;
    @apply justify-center;
    @apply mt-6 lg:mt-0;
}

.hiring-process-content__image img {
    @apply w-2/4 md:w-2/4 lg:w-1/2 xl:w-11/12;
}

.hiring-process-content__form .title-container {
    @apply flex;
    @apply items-center;
    @apply mb-6;
}

.hiring-process-content__form .title-container .dot-counter {
    @apply w-10 md:w-12;
    @apply w-10 md:h-12;
    @apply rounded-full;
    @apply bg-primary;
    @apply flex;
    @apply justify-center;
    @apply items-center;
    @apply font-extrabold;
    @apply text-white;
    @apply text-lg md:text-3xl;
    @apply mr-5;
    @apply p-1.5 md:p-6;
}

.input-container {
    @apply mb-4;
    @apply flex;
    @apply justify-between;
    @apply items-center;
    @apply my-4;
}

.input {
    @apply w-full;
    @apply pl-10;
    @apply pr-4;
    @apply py-2;
    @apply my-2;
    @apply rounded-sm;
    @apply shadow;
    @apply focus:outline-none;
    @apply text-gray-600;
    @apply font-medium;
    @apply bg-gray-100;
    height: 3rem;
}

.input__icon {
    @apply absolute;
    @apply top-3;
    @apply right-0;
    @apply inline-flex;
    @apply items-center;
    @apply p-2;
    @apply px-5;
    @apply text-gray-500;
    height: 100%;
}


.float-animation {
    animation: float 4s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translatey(0px);
    }
    50% {
        transform: translatey(-20px);
    }
    100% {
        transform: translatey(0px);
    }
}

.rotate-animation {
    animation: rotate 500s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(360deg);
    }

    50% {
        transform: rotate(90deg);
    }

    100% {
        transform: rotate(0deg);
    }
}
