.main-banner {
    @apply h-screen;
    @apply w-screen;
    @apply bg-center;
    @apply bg-cover;
    @apply p-6 md:p-16;
}

.main-banner__content {
    @apply flex-wrap lg:flex-nowrap;
    @apply box-border;
    @apply h-full;
    @apply lg:flex;
    @apply lg:items-center;
    @apply lg:flex-row-reverse;
}

.content__info {
    @apply h-1/2;
    @apply lg:w-1/2;
    @apply flex;
    @apply justify-center;
    @apply flex-col;
    @apply items-center;
    @apply text-center;
}

.content__info__button {
    @apply mt-9;
}

.content__image-container {
    @apply h-1/2;
    @apply lg:w-1/2;
    @apply flex;
    @apply justify-center;
    @apply items-center;
}

.image-container__image {
    @apply w-72 md:w-96 lg:w-full xl:w-3/4;
    animation: float 4s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translatey(0px);
    }
    50% {
        transform: translatey(-20px);
    }
    100% {
        transform: translatey(0px);
    }
}
